:root {
    --primary: #2d5a27;
    --dark: #111827;
    --text-muted: #4b5563;
    --bg-light: #f9fafb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    line-height: 1.6;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-img {
    height: 40px;
    width: auto;
}

.logo-text {
    font-weight: 700;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s;
}


nav a:hover {
    color: var(--primary);
}


nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}


nav a.active {
    color: var(--primary);
    font-weight: 600;
}

nav a.active::after {
    width: 100%;
}

.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('../img/vaca.jpeg') center/cover no-repeat;
    

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.1rem;
}


.section-padding {
    padding: 60px 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #eee;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
}

.card:hover {
    transform: translateY(-8px);
    border-color: var(--primary);
    box-shadow: 0 12px 25px rgba(45, 90, 39, 0.15);
}

.card h4 {
    color: var(--primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
}


footer {
    padding: 40px 5%;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    color: var(--text-muted);
    margin-right: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 2rem;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
.intro {
    text-align: center;
    padding: 50px 20px 20px;
}


.intro h2 {
    font-size: 1.8rem;
    color: var(--dark); /* negro */
    margin-bottom: 10px;
}

.intro p {
    color: var(--text-muted);
    max-width: 600px;
    margin: 0 auto;
}